# fly.toml app configuration file generated for lnm-alert-bot on 2026-01-29T16:18:04Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'lnm-alert-bot'
primary_region = 'cdg'

[build]

[env]
  DATABASE_PATH = '/data/alerts.db'
  NODE_ENV = 'production'

[[mounts]]
  source = 'lnm_alerts_data'
  destination = '/data'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
